{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="dark"> <!-- Set the initial theme to "dark" or "light" as desired -->

<head>
    <title>UCCS CS Students</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/light-mode.css' %}" data-theme="light">
    <link rel="stylesheet" type="text/css" href="{% static 'css/dark-mode.css' %}" data-theme="dark">
    {% if request.COOKIES.dark_mode == 'enabled' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/dark-mode.css' %}">
    {% else %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/light-mode.css' %}">
    {% endif %}
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <img src="{% static 'images/yuh.gif' %}">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'students' %}">Students</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'portfolios' %}">Portfolios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'projects' %}">Projects</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <div id="content-container" data-theme="dark">
        <button id="toggle-dark-mode">Toggle Dark Mode</button>
        
        {% block content %}
        {% endblock %}
    </div>

    <script>
        const toggleButton = document.getElementById('toggle-dark-mode');
        const contentContainer = document.getElementById('content-container');
    
        toggleButton.addEventListener('click', () => {
            alert(contentContainer.getAttribute('data-theme'));
            const currentTheme = contentContainer.getAttribute('data-theme');
            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
    
            // Set the new theme
            contentContainer.setAttribute('data-theme', newTheme);
    
            // Save the user's preference in a cookie
            document.cookie = `dark_mode=${newTheme}; expires=Fri, 31 Dec 9999 23:59:59 GMT`;
        });
    </script>
</body>
</html>