{% extends 'portfolio_app/base_template.html' %} 
{% block content %} 
    <h1>Portfolio List</h1>
    <div class="row">
        {% if portfolio_list %}
            {% for portfolio in portfolio_list %}
                <div class="col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ portfolio.get_absolute_url }}">{{ portfolio.title }}</a></h5>
                            <p class="card-text">Additional portfolio details or description here.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>There are no portfolios registered.</p>
        {% endif %}
    </div>
{% endblock %}